<h1>Order Details: </h1>

<h2>@Model["order"].Name</h2>
<h3>Order: @Model["vendor"].VendorName</h3>

<a href='/vendor/@Model["vendor"].Id/order/new'>Add another vendor</a>
<a href='/vendor'>View all vendors</a>